POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=change-me
DATABASE_URL=postgresql://change-me:change-me@db:5432/change-me
ADMIN_USER=admin
ADMIN_PASS=Admin112008
BOT_TOKEN=change-me
XUI_URL=https://nyxvpnde.port0.org:8165/60fUYD0loNH7UUHqvb/
XUI_USERNAME=change-me
XUI_PASSWORD=change-me
XUI_INBOUND_IDS=4,5
XUI_SUB_URL=https://nyxvpnde.port0.org:2096/sub/{sub_id}
TRIAL_DAYS=3
REMIND_HOURS_BEFORE=20
SUBSCRIPTION_PURGE_GRACE_HOURS=24
REDIS_URL=redis://redis:6379/0
